@font-face {
  font-family: 'site-font';
  src: url('../fonts/Estedad[KSHD,wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

:root {
  --vp-font-family-base: 'site-font', 'Inter var experimental', 'Inter var',
    Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  --vp-font-family-mono: Menlo, Monaco, Consolas, 'site-font', 'Courier New',
    monospace !important;
}
.VPDocAsideOutline .content {
  border-right: 1px solid var(--vp-c-divider) !important;
  border-left: unset !important;
  padding-right: 16px !important;
  padding-left: unset !important;
}
.outline-marker {
  right: -1px !important;
  left: auto !important;
}
.vp-doc :not(pre) > code {
  padding: 0px 6px !important;
}
.vp-code-block-title-bar {
  direction: ltr !important;
}
.VPNavBar .content-body {
  direction: ltr !important;
}
.VPNavBar.home .container {
  direction: ltr !important;
}
.VPNavBarTitle.has-sidebar {
  direction: ltr !important;
}
.vp-code-group.vp-adaptive-theme .tabs {
  direction: ltr !important;
}
.vp-doc .header-anchor {
  left: auto !important;
  right: -28px;
}
.VPNavBar .content-body {
  direction: ltr !important;
}
.VPNavBar .menu {
  direction: rtl !important;
}
.VPNavBar .menu .title {
  padding: 0 12px 0 24px;
}
.VPNavBarMenuGroup .text {
  gap: 4px;
}
:is(.vp-external-link-icon, .vp-doc a[href*="://"], .vp-doc a[target="_blank"]):not(.no-icon)::after
{
  margin-right: 4px;
}
.pager-link.next {
  text-align: end !important;
}
.edit-link-icon {
  margin-left: 8px !important;
  margin-right: auto !important;
}
.vp-doc th {
  text-align: center !important;
}
.VPSidebar{
  text-align: end !important;
  direction: ltr !important;
}
@media (min-width: 768px) {
  .VPNavBarMenu {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1280px) {
  .VPDoc .container {
    flex-direction: row-reverse;
  }
}
