@font-face {
  font-family: 'site-font';
  src: url('../fonts/Estedad[KSHD,wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

:root {
  --vp-font-family-base: 'site-font', 'Inter var experimental', 'Inter var',
    Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  --vp-font-family-mono: Menlo, Monaco, Consolas, 'site-font', 'Courier New',
    monospace !important;
}

.VPSidebar {
  right: 0 !important;
  left: unset !important;
}
.VPNavBar.has-sidebar .title {
  right: 0 !important;
  left: unset !important;
}
@media (min-width: 1440px) {
  .VPNavBar.has-sidebar .content {
    padding-left: calc(
      (100vw - var(--vp-layout-max-width)) / 2 + 32px
    ) !important;
    padding-right: calc(
      (100vw - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width)
    ) !important;
  }
}
@media (min-width: 960px) {
  .VPNavBarSearch {
    padding-right: 32px;
    padding-left: unset !important;
  }
}
@media (min-width: 768px) {
  .VPNavBarSearch {
    padding-right: 24px;
    padding-left: unset !important;
  }
}
@media (min-width: 1440px) {
  .VPContent.has-sidebar {
    padding-left: calc((100vw - var(--vp-layout-max-width)) / 2) !important;
    padding-right: calc(
      (100vw - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width)
    ) !important;
  }
}
@media (min-width: 960px) {
  .VPContent.has-sidebar {
    margin: var(--vp-layout-top-height, 0px) 0 0;
    padding-right: var(--vp-sidebar-width) !important;
    padding-left: unset !important;
  }
}
@media (min-width: 960px) {
  .VPNavBar.has-sidebar .divider {
    padding-right: var(--vp-sidebar-width) !important;
    padding-left: unset !important;
  }
}
@media (min-width: 1440px) {
  .VPNavBar.has-sidebar .divider {
    padding-right: calc(
      (100vw - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width)
    ) !important;
    padding-left: unset !important;
  }
}
.DocSearch-Button .DocSearch-Button-Placeholder {
  padding: 0 0 0 16px !important;
}
@media (min-width: 768px) {
  .DocSearch-Button .DocSearch-Search-Icon {
    margin-left: 8px;
    margin-right: auto !important;
  }
}
@media (min-width: 1440px) {
  .VPSidebar {
    padding-right: max(
      32px,
      calc((100% - (var(--vp-layout-max-width) - 64px)) / 2)
    ) !important;
    padding-left: auto !important;
  }
}
@media (min-width: 1440px) {
  .VPNavBar.has-sidebar .title {
    padding-right: max(
      32px,
      calc((100% - (var(--vp-layout-max-width) - 64px)) / 2)
    );
    padding-left: auto !important;
  }
}

.vp-code-group {
  direction: ltr !important;
}
.edit-link-icon {
  margin-left: 8px !important;
  margin-right: auto !important;
}
.pager-link.next {
  text-align: end !important;
}
.VPDocAsideOutline .content {
  border-right: 1px solid var(--vp-c-divider) !important;
  border-left: unset !important;
  padding-right: 16px !important;
  padding-left: auto !important;
}
.outline-marker[data-v-b2c6dca8] {
  right: -1px !important;
  left: auto !important;
}
.vp-doc .header-anchor {
  left: auto !important;
  right: -28px;
}

.menu + .appearance::before,
.translations + .appearance::before {
  margin-right: 8px !important;
  margin-left: 16px !important;
}

.appearance + .social-links::before {
  margin-right: 16px !important;
  margin-left: 8px !important;
}

.vp-doc th {
  text-align: center !important;
}
